@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}



/**
  Нормализация блочной модели
 */
*,
::before,
::after {
    box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
    padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
    margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol,
    dl):where([class]) {
    margin-block: 0;
}

:where(dd[class]) {
    margin-left: 0;
}

:where(fieldset[class]) {
    padding: 0;
    border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
    list-style: none;
}

:where(address[class]) {
    font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
    --paragraphMarginBottom: 24px;

    margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
    margin-bottom: var(--paragraphMarginBottom);
}


/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
    display: block;
    max-width: 100%;
    height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
    font: inherit;
}

html {
    /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
    height: 100%;
    /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
    scrollbar-gutter: stable;
    /**
    Плавный скролл
   */
    scroll-behavior: smooth;
}

body {
    /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
    min-height: 100%;
    /**
    Унифицированный интерлиньяж
   */
    line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
    display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
    cursor: pointer;
}

/**
  Убирает серую подсветку при тапе на мобильных устройствах (iOS/Android)
 */
button {
    -webkit-tap-highlight-color: transparent;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
/* :where([fill]:not([fill="none"],
        [fill^="url"])) {
    fill: currentColor;
} */

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke="none"],
        [stroke^="url"])) {
    stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
    transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
    border-collapse: collapse;
    border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {

    *,
    ::before,
    ::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


:root {
    --color-light: #FFFFFF;
    --color-blue: #001E64;
    --color-light-grey: #C4C4C4;
    --color-dark-grey: #232222;

    --font-family-base: 'Roboto', sans-serif;
    --font-family-accent: 'Roboto Slab', serif;

    --container-width: 1200px;
    --container-padding-x: 10px;

    --transition-duration: 0.2s;
}

body {
    font-family: var(--font-family-base);
    background-color: var(--color-light);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: var(--color-dark-grey);
}

.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

a {
    color: inherit;
    text-decoration: none;
}

.button {
    display: inline-flex;
    padding: 14px 85px;
    font-family: var(--font-family-accent);
    font-weight: 700;
    font-size: 24px;
    color: var(--color-blue);
    border: 1px solid var(--color-blue);
    border-radius: 20px;
    text-transform: uppercase;
}

a,
button,
input,
textarea,
svg * {
    transition-duration: var(--transition-duration);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family-accent);
    color: var(--color-blue);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: start;
    column-gap: 15px;
    padding-top: 20px;
}

.menu {
    margin-top: 16px;
}

.menu__list {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.menu__list-burger-button {
    position: relative;
    display: none;
    width: 40px;
    border: none;
    background-color: transparent;
    padding: 13px 0;
    z-index: 100;
}

.menu__list-burger-button-line {
    display: block;
    height: 4px;
    width: 100%;
    background-color: var(--color-blue);
}

.menu__list-burger-button-line::before,
.menu__list-burger-button-line::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 4px;
    background-color: var(--color-blue);
}

.menu__list-burger-button-line::before {
    top: 0;
}

.menu__list-burger-button-line::after {
    bottom: 0;
}

.menu__link {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.16;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-blue);
    border-bottom: 1px solid transparent
}

.menu__link:hover {
    border-color: 1px solid var(--color-blue);
}

.header__logo {
    margin-left: 16px;
}

.header__phone {
    margin-top: 11px;
    margin-right: 43px;
}

.header__content-inner {
    flex-basis: 100%;
    width: 100%;
}


.header__content {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-top: -100px;
    background: url(../images/header-bg.png) top/cover no-repeat;
    padding-bottom: 20px;
    min-height: calc(100vh - 46px);
}

.title {
    max-width: 589px;
    padding-top: 170px;
    padding-left: 112px;
    font-family: var(--font-family-accent);
    font-weight: 700;
    font-size: clamp(44px, 3.75vw, 72px);
    line-height: 1.3;
    color: var(--color-blue);
    margin-bottom: 60px;
}

.header-slider {
    max-width: 522px;
    padding: 54px 0 160px 112px;
}

.header-slider__item {
    height: 200px;
    overflow-y: auto;
}

.header-slider__text {
    font-size: 18px;
    color: var(--color-light);
}

.header-slider__text:not(:last-child) {
    margin-bottom: 25px;
}

.header-slider button {
    background-color: transparent;
    border: none;
    padding: 0;
    color: var(--color-light);
}

.slider-arrow {
    position: absolute;
    left: 40px;
}

.slick-prev {
    top: 0;
}

.slick-next {
    bottom: 0;
}

.slick-dots {
    position: absolute;
    top: 54px;
    left: 36px;
    bottom: 54px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slick-dots button {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.16;
    color: var(--color-light);
    opacity: 0.5;
}

.slick-active button {
    opacity: 1;
}

.slick-dots button::before {
    content: '0';
}

.slick-dots li:nth-child(n + 10) button::before {
    content: '';
}

.button--white {
    color: var(--color-light);
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
}

.header__content-button {
    position: absolute;
    margin-left: 112px;
    transform: translateY(-125px);
}

.header__content-button.button--white:hover {
    color: var(--color-light);
    background-color: var(--color-blue);
}

.header__content-box {
    display: flex;
    margin-left: calc(100% - 84px);
    font-size: 18px;
    line-height: 1.16;
}

.lang-switcher__list {
    display: flex;
    color: var(--color-light);
}


.lang-switcher__link.is-active {
    font-weight: 700;
}

.product {
    padding-top: 100px;
}

.product__inner {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.product__name {
    align-self: flex-start;
    max-width: 510px;
    width: 100%;
    text-align: center;
    padding-top: 41px;
    padding-bottom: 20px;
}

.product__name-title {
    font-family: var(--font-family-accent);
    font-weight: 400;
    font-size: 24px;
    color: var(--color-dark-grey);
    height: 32px;
    line-height: 32px;
    margin-bottom: 30px !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    cursor: pointer;
}

.product__name-title:focus,
.product__name-title:focus-visible {
    outline: none;
    box-shadow: none;
}

.product__name-title.slick-current {
    font-family: var(--font-family-accent);
    font-weight: 700;
    font-size: 36px;
    color: var(--color-blue);
}

.product-prev,
.product-next {
    position: absolute;
    background-color: transparent;
    border: none;
    padding: 0;
}

.product-prev {
    top: 0;
    left: 50%;
    translate: -50%;
}

.product-next {
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50%;
}


.product__content {
    max-width: 600px;
}

.product__content-element {
    height: auto !important;
}

.product__content-box {
    display: flex;
    justify-content: space-between;
    align-items: start;
    column-gap: 10px;
}

.product__content-image {
    object-fit: cover;
}

.product__content-list {
    max-height: 251px;
    width: 291px;
    overflow-y: auto;
}

.product__content-item:not(:last-child) {
    margin-bottom: 30px;
}

.product__content-item span {
    display: block;
    font-family: var(--font-family-accent);
    font-weight: 400;
    font-size: 18px;
    color: var(--color-blue);
    margin-bottom: 10px;
}

.product__content-title {
    padding-top: 5px;
    font-family: var(--font-family-accent);
    font-weight: 400;
    font-size: 24px;
    color: var(--color-blue);
}

.product__content-title:not(:last-child) {
    margin-bottom: 20px;
}

.product__content-description {
    height: 115px;
    overflow-y: auto;
}

.product__content-description:not(:last-child) {
    margin-bottom: 26px;
}

.product__content-button:hover {
    color: var(--color-light);
    background-color: var(--color-blue);
}

.seafood-box {
    padding-top: 290px;
    padding-bottom: 100px;
    background: url(../images/seafood-bg.png) top center/cover no-repeat;
    font-family: var(--font-family-accent);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.3;
    color: var(--color-light);
}

.seafood-box__items {
    display: flex;
    justify-content: space-around;
}

.seafood-box__item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 180px;
    min-height: 165px;
    background: url(../images/seafood-decor.svg) center/contain no-repeat;
}

.seafood {
    padding-block: 100px;
}

.seafood__items:not(:last-child) {
    margin-bottom: 100px;
}

.seafood__item {
    display: flex;
    justify-content: space-between;
}

.seafood__item--text-right {
    margin-right: 179px;
}

.seafood__item:not(:last-child) {
    margin-bottom: 50px;
}

.seafood__content {
    max-width: 491px;
}

.seafood__title {
    font-family: var(--font-family-accent);
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
    color: var(--color-blue);
}

.seafood__title:not(:last-child) {
    margin-bottom: 30px;
}

.seafood__text {
    max-width: 420px;
    color: var(--color-dark-grey);
}

.seafood__text:not(:last-child) {
    margin-bottom: 20px;
}

.seafood__text--last:not(:last-child) {
    margin-bottom: 50px;
}

.seafood__quote {
    max-width: 800px;
    text-align: center;
    margin-inline: auto;
}

.seafood__quote-text {
    max-width: 696px;
    font-family: var(--font-family-accent);
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: var(--color-dark-grey);
}

.contacts {
    max-width: 1920px;
    margin-inline: auto;
    background: url(../images/contacts-bg.jpg) bottom left/contain no-repeat;
}

.contacts__box {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    margin-left: auto;
    width: 402px;
    padding: 33px 0 33px 20px;
    background-color: var(--color-light);
}

.contacts__box-text {
    width: 195px;
    font-family: var(--font-family-accent);
    font-size: 18px;
    color: var(--color-blue);
}

.contacts__box-list {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    font-size: 18px;
}

.contacts__box-item span {
    display: block;
}

.footer {
    padding-top: 30px;
    padding-bottom: 100px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: end;
    column-gap: 20px;
    padding-left: 23px;
    padding-right: 45px;

}

.footer__social-list {
    display: flex;
    column-gap: 10px;
    padding-bottom: 15px;
}

.footer__social-item:hover path {
    fill: var(--color-blue);
}

.footer__inner .menu {
    padding-bottom: 27px;
}


@media (max-width: 1919px) {

    .header__logo img,
    .header__phone img {
        flex-shrink: 0;
    }
}

@media (max-width: 1160px) {
    .product__name {
        max-width: 350px;
    }
}

@media (max-width: 1000px) {

    .menu {
        margin-top: 11px;
        margin-left: auto;
    }

    .menu__list-burger-button {
        display: inline-block;
    }

    .menu__list {
        position: absolute;
        left: 20%;
        right: 20%;
        z-index: 1000;
        flex-direction: column;
        row-gap: 30px;
        padding-top: 18px;
        padding-bottom: 30px;
        background-color: var(--color-light);
        border-radius: 8px;
        transform: translateY(-200%);
        transition: transform .3s ease;
    }

    .menu__list--active {
        transform: translateY(0);
    }


    .menu__list-burger-button,
    .menu__list-burger-button-line,
    .menu__list-burger-button-line::before,
    .menu__list-burger-button-line::after {
        transition: all 0.3s ease;
    }

    .menu__list-burger-button--active .menu__list-burger-button-line {
        background-color: transparent;
    }

    .menu__list-burger-button--active .menu__list-burger-button-line::before {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
    }

    .menu__list-burger-button--active .menu__list-burger-button-line::after {
        bottom: 50%;
        transform: translateY(50%) rotate(-45deg);
    }

    .product__name {
        max-width: 250px;
    }

}

@media (max-width: 915px) {
    .product__inner {
        flex-direction: column;
    }

    .product__name {
        position: relative;
        max-width: 100%;
        padding-top: 0;
        padding-bottom: 60px;
    }


    .product__content {
        margin-inline: auto;
    }

    .product__name-title {
        height: 60px;
        padding-inline: 30px;
        margin-inline: 30px;
        margin-bottom: 20px !important;
        font-size: 22px;
    }

    .product__name-title.slick-current {
        font-size: 33px;
    }

    .product__name .slick-dots {
        position: absolute;
        left: 0;
        right: 0;
        top: 60%;
        flex-direction: row;
        justify-content: center;
        column-gap: 20px;
    }

    .product__name .slick-dots button {
        width: 10px;
        aspect-ratio: 1;
        font-size: 0;
        padding: 0;
        border-radius: 50%;
        background-color: var(--color-light-grey);
    }

    .product__name .slick-active button {
        background-color: var(--color-blue);
    }

}

@media (max-width: 745px) {
    .title {
        padding-left: 0;
        max-width: 100%;
        text-align: center;
    }

    .product {
        padding-top: 50px;
    }
}

@media (max-width: 630px) {
    .product__content {
        position: relative;
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
        /* Скрываем вылезающие элементы */
    }

    /* Слайды */
    .product__content .slick-slide {
        outline: none !important;
        margin: 10px 0 !important;
        height: 660px !important;
        /* Равномерные отступы между слайдами */
    }



    .product__content-box {
        flex-direction: column;
        row-gap: 8px;
    }

    .product__content-list {
        width: 100%;
        margin-bottom: 10px;
    }

    .product__content-title:not(:last-child) {
        margin-bottom: 2px;
    }

    .product__content-item:not(:last-child) {
        margin-bottom: 15px;
    }

    .product__content-description:not(:last-child) {
        margin-bottom: 16px;
    }

    .product__content-element {
        padding-bottom: 10px !important;
    }

    .product__content-list {
        max-height: 205px;
    }



}

@media (max-width: 470px) {
    .header__top {
        padding-top: 5px;
    }

    .header__logo {
        margin-left: 0;
    }

    .header__phone {
        margin-right: 0;
    }

    .menu__list {
        left: 10%;
        right: 10%;
    }

    .header__content {
        margin-top: -54px;
    }

    .title {
        padding-top: 0;
        margin-bottom: 125px;
    }

    .header-slider {
        padding: 0;
        padding-left: 50px;
        margin-bottom: 30px;
    }

    .slick-dots {
        left: 5px;
    }

    .slider-arrow {
        left: 10px;
    }

    .header__content-button {
        margin-left: 50px;
    }

    .header__content-button {
        position: relative;
        transform: translateY(0);
        margin-left: 0;
    }

    .header__content-box {
        margin-left: calc(100% - 50px);
        margin-top: 100px;
    }
}

@media (max-width: 470px) {

    .header__logo img {
        width: 75%;
    }

    .title {
        font-size: 34px;
    }
}